html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
/* HEADER */
.header_text {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    max-width: 1438px;
    width: 100%;
    aspect-ratio: 1438 / 769;
}
.header_text {
    text-align: center;
}
.logo_header {
    display: block;
    margin: 0 auto;
    padding-top: 42px;
    width: 100px;
    margin-bottom: 317px;
}
.partner {
  font-family: "Bebas Neue", sans-serif;;
  color: #fff;
  letter-spacing: 5.7px;
  text-transform: uppercase;
  font-size: 60px;
   font-weight: 400;
}
.award {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 221px;
}
.scroll {
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* navbar menu */

.navbar {
    display: flex;
    padding: 0 290px;
    justify-content: space-between;
    align-items: center;
    border: none;
    height: 65px;
    border-bottom: 0.3px solid #e6e3e3;
    
}
.menu_inner ul{
    display: flex;
    list-style: none;
}
.menu_inner ul li {
    margin: 25px 15px;
}
.logo_black {
    width: 80px;
}
.menu_inner ul li:last-child {
    margin-right: 0;
}
.menu_inner ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #48555B;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.1px;
}

/* OUR STORY */

.story {
    padding: 15px 0 50px 0;
}
.story_inner {
    display: flex;
    justify-content: space-between;
}
.story_left {
    max-width: 398px;
    margin-right: 50px;
}
.story_title_2 {
     text-transform: uppercase;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     letter-spacing: 2.3px;
     color: #48555B;
     padding: 30px 0;
}
.story_title_2::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0;
}
.story_title_3 {
    font-weight: bold;
    font-size: 20px;
    color: #48555B;
}
.accent_color {
    color: #16ACE8;
}
.story_text {
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #48555B;
    font-weight: 400;
    font-size: 13px;
}
.story_right {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}
.story_item {
    padding: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    
}
.story_item:nth-child(1) {
    background-image: url(../img/we_plan_1.png);
}
.story_item:nth-child(2) {
    background-image: url(../img/we_manage_1.png);
}
.story_item:nth-child(3) {
    background-image: url(../img/we_build_1.png);
}

/* Раздел services */

.services {
    padding: 50px 0;
    margin-bottom: 80px;
}
.services_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}
.services_title_2 {
    font-size: 18px;
    font-weight: 700;
    color: #48555B;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    margin: 0;
    margin-right: 150px;
}
.services_title_2::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px 0;
}
.services_text {
    font-weight: 400px;
    font-size: 11px;
    color: #48555B;
    max-width: 405px;
    line-height: 19px;
    letter-spacing: 0.2px;
    margin: 0;
}
.services_btn {
    background-color: #00A4E5;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.services_bottom {
    display: flex;
}
.services_card {
    border: 1px solid #e6e3e3;
    padding: 39px 23px;
    margin-right: 25px;
}
.services_card:last-child {
    margin-right: 0;
}
.services_icon {
}
.services_title_3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #48555B;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.services_text_bottom {
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #48555B;
    width: 250px;
}
/* Секция get in tough */
.get_in_tough {
    
}
.get_in {
    background-image: url(../img/bg_2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    text-align: center;
    max-width: 1440px;
    width: 100%;
    aspect-ratio: 1440 / 499;
    
}
.get_in_2 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.2px;
    line-height: 36px;
    color: #48555B;
    
    padding: 120px 0 0 0; 
    width: 335px;
    margin: 0 auto;
    margin-bottom: 35px;

}
.get_in_btn {
    background-color: #00A4E5;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
}

/* Newsletter */
.newsletter_section {
    
}
.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background: #171819;
    height: 100px;
    max-width: 1440px;
    margin: 0 auto;
    
}
.newsletter__h2 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: #fff;
}
.emeil__block {
    display: flex;

}
.email {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
    padding: 11px 98px 11px 16px;
}
.email-button {
    padding: 11px 49px;
    border: none;
    background-color: #00A4E5;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
}
/* footer */
.footer {
    background: #171819;
    height: 300px;
    max-width: 1440px;
    margin: 0 auto;
}
.company__footer {
    display: flex;
    align-items: stretch;
}
.company {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 148px;
    margin-left: 249px;
    margin-bottom: 50px;
    margin-right: 71px;
    margin-top: 11px;
    
}
.company__h5 {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 19px;
    margin-top: 0px;
}
.logo_footer {
    width: 102px;
    height: 23px;
    margin-bottom: 5px;

}
.company__p {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    line-height: 19px;
    letter-spacing: 0.8px;

}
.links {
    display: flex;
    margin-top: 11px;
    margin-bottom: 47px;
}
.links_1 {
    color: #fff;
    text-transform: uppercase;
    width: 76px;
    margin-right: 34px;
}
.links_1_p {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.8px;
    margin-top: 0;
}
.links_2_p, .links_3_p, .links_4_p, .links_5_p, .links_6_p {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 7px;
    margin-top: 0;
}
.links_6_p {
    white-space: nowrap;
}

.links_2 {
    color: #fff;
    text-transform: uppercase;
    width: 75px;
     font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    margin-right: 38px;
    /* margin-top: 11px; */
}
.links_2 :first-child {
    margin-top: 0;
}
.links_3 {
    color: #fff;
    text-transform: uppercase;
    width: 75px;
     font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    margin-right: 58px;
}
.links_3 :first-child {
    margin-top: 0;
}
.contact {
    color: #fff;
    margin-top: 11px;
    width: 141px;
    margin-right: 46px;
    
}
.contact_1_h5 {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.8px;
    margin-top: 0;
    text-transform: uppercase;
}
.contact_2_p, .contact_3_p, .contact_4_p {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 16px;
    margin-bottom: 7px;
}
.contact :last-child {
    margin-bottom: 0;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87px;
    
}
.facebook, .twitter, .google {
    align-self: center;
    width: 12px;
    height: 12px;
}

.copyright__p {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: #fff;
    text-align: center;
}

